* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f2f6;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
}

h1 {
    text-align: center;
    color: #6c5ce7;
}

h2 {
    margin-top: 30px;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 8px;

    background: #6c5ce7;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #5748c9;
}

.catatan {
    background: white;
    margin-top: 15px;
    padding: 15px;

    border-radius: 10px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.catatan h3 {
    margin-top: 0;
}

.hapus {
    background: #ff4757;
    margin-top: 10px;
}
